section {
	border-collapse: collapse;
	display: table;
}

section > div {
	display: table-cell;
	border: 0.1em solid silver;
	background: white;
	font: bolder 100% Arial;
	font-size: small;
	padding: 0.3em 0.3em;
	text-align: right;
}

.end ~ div {
	background: white !important; /*hell*/
}

.start, .start ~ div {
	background: lavender;
}

section > div:nth-of-type(8n) {
	display: table-column;
}