section {
	border-collapse: collapse;
	display: table;
	max-width: 50px;
}

section > div {
	display: table-cell;
	border: 0.1em solid;
	padding-left: 0.2em;
}

.end ~ div {
	background: white !important; /*hell*/
}

.start, .end, .start ~ div:not(.end) {
	background: gray;
}

section > div:nth-of-type(8n) {
	display: table-column;
}